.auth_box {
    display: flex;
    height: 100%;
    justify-self: center;
    align-items: center;
}

@media (max-width: 767px) and (min-width: 480px) {
    .auth_box {
        box-sizing: border-box;
        width: 100%;
        padding: 0 50px;
        max-width: 700px;
    }
}

@media (max-width: 479px) {
    .auth_box {
        box-sizing: border-box;
        width: 100%;
        padding: 0 20px;
        max-width: 700px;
    }
}