.historyWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    box-sizing: border-box;
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.noFilesText {
    text-align: center;
    font-style: italic;
    color: #555;
}

@media (max-width: 479px) {
    .historyWrapper{
        padding: 20px 10px 0 10px;
    }
    .title {
        font-size: 24px;
        text-align: center;
    }
    .noFilesText {
        font-size: 18px;
    }
}