.profile_box {
    display: flex;
    height: 100%;
    justify-self: center;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 350px;
    width: 800px;
    background: rgba(248,244,255, .25);
    border-color: rgba(0, 0, 0, .65);
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.userName {
    color:  #003153;
}

.text {
    text-align: center;
}

@media (max-width: 1023px) and (min-width: 768px){
    .profile {
        width: 600px;
    }
}

@media (max-width: 767px) and (min-width: 480px) {
    .profile {
        width: 400px;
    }
    .title {
        font-size: 36px;
    }
}

@media (max-width: 479px) {
    .profile {
        width: 250px;
    }
    .title {
        font-size: 24px;
    }
    .text {
        font-size: 18px;
    }
}