.form {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.input {
    width: 48px;
    height: 48px;
    background: rgba(248,244,255, .25);
    text-align: center;
    font-size: 24px;
    border-color: rgba(0, 0, 0, .65);
    border-style: solid;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    outline: none;
    transition: border-color 0.2s;
}

.input:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 0 3px rgba(74,144,226,0.2);
}

@media (max-width: 479px)  {
    .form{
        gap: 6px;
    }
}